@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Poster.UserName: @Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li class="btn" id="job-@Job.JobId">This job is unclaimed. 
            @if (User.Identity.Name != Job.Poster.UserName && ViewBag.CurrentUser.Avaliable)
            {
                <button value="@Job.JobId" class="claim-job btn btn-primary">Claim this job!</button>
            }
            </li>
        }
        else
        {
            @if (Job.Completed)
            {
                <li class="btn" id="job-@Job.JobId">This Job has been completed by @Job.Worker.FirstName @Job.Worker.LastName.</li>
            }
            else if (Job.Pending)
            {
                <li class="btn" id="job-@Job.JobId">
                    This Job is claimed and being worked on by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if (User.Identity.Name == Job.Worker.UserName && User.Identity.Name != Job.Poster.UserName)
                    {
                        <button value="@Job.JobId" class="complete btn btn-primary">Hey, I'm done workin' over here!</button>
                    }
                </li>
            }
            else
            {
                <li class="btn" id="job-@Job.JobId">
                    This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if (User.Identity.Name == Job.Worker.UserName && User.Identity.Name != Job.Poster.UserName)
                    {
                        <button value="@Job.JobId" class="working btn btn-primary">Hey, I'm workin' over here!</button>
                    }
                </li>
            }
        }
        @if (User.Identity.Name == Job.Poster.UserName)
        {
            <a asp-action="Edit" asp-controller="Jobs" asp-route-id="@Job.JobId">Edit this job</a>
            <form asp-action="Delete">
                <input name ="id" value="@Job.JobId" type="hidden" />
                <input type="submit" value="Delete this job" onclick="return confirm('Are you sure you want to delete this job?')"/>
            </form>
        }
    </ul>


    <hr />
}

<script>
    $(function () {
        $(".claim-job").click(function () {
            var selectedId = $(this).attr("value");
            $.ajax({
                url: "@Url.Action("Claim")",
                type: "POST",
                dataType: "json",
                data: { id: selectedId },
                success: function (result) {
                    $(this).hide();
                    $("#job-" + selectedId).text("This Job is claimed by " + result.worker.firstName + " " + result.worker.lastName + ".");
                    $("#job-" + selectedId).append("<button value=\"" + selectedId + "\" class=\"working btn btn-primary\">Hey, I'm workin' over here!</button>");
                    console.log(result);
                    if(!result.worker.avaliable) {
                        $(".claim-job").hide();
                    }
                }
            });
        });

        $('body').on('click', '.working', function () {
            var selectedId = $(this).attr("value");
            $.ajax({
                url: "@Url.Action("Working")",
                type: "POST",
                dataType: "json",
                data: { id: selectedId },
                success: function (result) {
                    $(this).hide();
                    $("#job-" + selectedId).text("This Job is claimed and being worked on by " + result.worker.firstName + " " + result.worker.lastName + ".");
                    $("#job-" + selectedId).append("<button value=\"" + selectedId + "\" class=\"complete btn btn-primary\">Hey, I'm workin' over here!</button>");
                }
            });
        });

        $('body').on('click', '.complete', function () {
            var selectedId = $(this).attr("value");
            $.ajax({
                url: "@Url.Action("Complete")",
                type: "POST",
                dataType: "json",
                data: { id: selectedId },
                success: function (result) {
                    $(this).hide();
                    $("#job-" + selectedId).text("This Job has been completed by " + result.worker.firstName + " " + result.worker.lastName + ".");
                }
            });
        });
    });
</script>